{%- if settings.color_name_check != blank -%}{%- assign _gl_color_name = settings.color_name_check | replace: ' ,', ',' | replace: ', ', ',' | split: ',' -%}{%- assign gl_color_name = _gl_color_name | downcase -%}{%-else-%}{%- assign gl_color_name = '\nathan_dt\' -%}{%-endif-%}
{%- if settings.size_name_check != blank -%}{%- assign _gl_size_name = settings.size_name_check | replace: ' ,', ',' | replace: ', ', ',' | split: ',' -%}{%- assign gl_size_name = _gl_size_name | downcase -%}{%-else-%}{%- assign gl_size_name = '\nathan_dt\' -%}{%-endif-%}
{%- assign lang_option = 'Größe'| downcase -%}
{%- if select_id == 'nt_select_quick'-%}
   {%- assign select_id = 'nt_select_quick' -%} 
{%- else -%}
   {%- assign select_id = 'nt_select_pr_' -%}
   {%- assign select_class = 'nt_select_pr_' -%}     
{%- endif -%}
{%- assign bclass = 'is-selected-no' -%}

{%- assign selected_variant = product.selected_variant -%}
{%- assign pr_variants = product.variants -%}
{%- assign size = product.options_with_values.size -%}
{%- if product.available -%}{%- assign remove_soldout = settings.remove_sold_out -%}{%- else -%}{%- assign remove_soldout = false -%}{%- endif -%}
{%- case settings.pr_curent -%}
  {%- when '1' -%}{%- assign current_variant = product.selected_or_first_available_variant -%}{%- if selected_variant != blank -%}{%- assign bclass = 'is-selected-none' -%}{%- else -%}{%- assign bclass = 'is-selected-no' -%}{%- endif -%}
  {%- when '2' -%}{%- assign current_variant = selected_variant |default: pr_variants.first -%}{%- assign bclass = 'is-selected-none' -%}{%- if current_variant.available == false and remove_soldout and product.available -%}{%- assign current_variant = product.first_available_variant -%}{%- endif -%}
  {%- else -%}{%- assign current_variant = product.selected_or_first_available_variant -%}{%- assign bclass = 'is-selected-none' -%}
{%- endcase -%}

{%- if pr_variants.size == 1 -%}{%- assign current_variant = pr_variants.first -%}{%- assign bclass = 'is-selected' -%}{%- endif -%}

<div class="variations var_avai_{{product.available}} variant_square square radio{%- if settings.quick_swatch_style_color == '2' %} square_quick{%- endif %}{%- if settings.swatch_design_quickshop == 'swatch_radio' %} radio_quick{%- endif %}">
   {%- for option in product.options_with_values -%}
      {%- assign option_index = forloop.index0 -%}
      {%- case option_index -%}{%- when 0 -%}{%- assign selected_value = current_variant.option1 -%}{%- when 1 -%}{%- assign selected_value = current_variant.option2 -%}{%- else -%}{%- assign selected_value = current_variant.option3 -%}{%- endcase -%}
  
      {%- assign downcased_option = option.name | downcase -%}
      {%- assign downcased_option_check = downcased_option | prepend: '"' | append: '"' | strip -%} 
      {%- if downcased_option == 'color' or downcased_option == 'couleur' or downcased_option == 'colour' or gl_color_name contains downcased_option_check -%}
		   <div class="{{select_class}}{{ option_index }} swatch swatch_nt_js is-label is-ntcolor" data-option-index="{{ option_index }}" id="{{select_id}}_{{ option_index }}">
		   	<h4 class="swatch__title">{{option.name}}: <span class="nt_name_current">{%- if bclass != 'is-selected-no' -%}{{selected_value}}{%- endif -%}</span></h4>
		   	<ul class="swatches-select swatch__list is-flex" data-attribute="pa_{{option.name | handleize}}" data-id="{{ option_index }}" data-size="{{size}}">
		   	   {%- for value in option.values -%}
		   		   <li data-index="{{ forloop.index0 }}" aria-label='{{ value }}' class="gecko-swatch swatch__list--item is-relative bg_css_{{ value | handleize }} swatch-size-{{settings.swatch_size}}{%- if selected_value == value %} {{bclass}}{%- endif -%}" data-value='{{ value | handleize }}' data-bcvalue='bc_{{ value | handleize }}'><span>{{value}}</span></li>
		   	   {%- endfor -%}
             </ul>
		   </div>
		{%- else -%}
		   <div class="{{select_class}}{{ option_index }} swatch swatch_nt_js is-label" data-option-index="{{ option_index }}" id="{{select_id}}_{{ option_index }}">
		   	{%- if downcased_option == 'size' or downcased_option == 'sizes' or downcased_option == 'taille' or downcased_option == lang_option or gl_size_name contains downcased_option_check -%}
		   	   {%- if select_id != 'nt_select_quick' and settings.size_chart -%}
		   	       <h4 class="swatch__title{%- if product.metafields.meta.image_size_chart != blank or collection.metafields.meta.image_size_chart != blank or settings.image_size_chart != blank %} extra-link{%- endif -%}">{{option.name}}: <span class="nt_name_current">{%- if bclass != 'is-selected-no' -%}{{selected_value}}{%- endif -%}</span>{%- if product.metafields.meta.image_size_chart != blank or collection.metafields.meta.image_size_chart != blank or settings.image_size_chart != blank %}<a class="cd chp jas-magnific-image f__libre" href="{%- if product.metafields.meta.image_size_chart != blank -%}{{product.metafields.meta.image_size_chart}}{%- elsif collection.metafields.meta.image_size_chart != blank-%}{{collection.metafields.meta.image_size_chart}}{%- else -%}{{ settings.image_size_chart | img_url: '1x1' | replace: '_1x1', ''  }}{%- endif -%}">{{ 'products.product.product_size_guide' | t }}</a>{%- endif -%}</h4>
		   	   {%- else -%}
		   	       <h4 class="swatch__title">{{option.name}}: <span class="nt_name_current">{%- if bclass != 'is-selected-no' -%}{{selected_value}}{%- endif -%}</span></h4>
		   	   {%- endif -%}
		   	{%- else -%}
		   	<h4 class="swatch__title">{{option.name}}: <span class="nt_name_current">{%- if bclass != 'is-selected-no' -%}{{selected_value}}{%- endif -%}</span></h4>
		   	{%- endif -%}
		   	<ul class="swatches-select swatch__list is-flex" data-attribute="pa_{{option.name | handleize}}" data-id="{{ option_index }}" data-size="{{size}}">
		   	   {%- for value in option.values -%}
		   		   <li data-index="{{ forloop.index0 }}" aria-label='{{ value }}' class="gecko-swatch swatch__list--item is-relative bg_css_{{ value | handleize }} swatch-size-{{settings.swatch_size}}{%- if selected_value == value %} {{bclass}}{%- endif -%}" data-value='{{ value | handleize }}' data-bcvalue='bc_{{ value | handleize }}'><span>{{value}}</span></li>
		   	   {%- endfor -%}
             </ul>
		   </div>
		{%- endif -%}
   {%- endfor -%}
</div>